<main [class]="theme">
  <div class="chart-col">
    <div style="position: absolute; top: 50px; left: 650px; right: 50px; bottom: 50px;">
      <app-gauge
        class="chart-container"
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [valueFormatting]="valueFormatting"
        [animations]="animations"
        
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [explodeSlices]="explodeSlices"
        [labels]="showLabels"
        [doughnut]="doughnut"
        [arcWidth]="arcWidth"
        
        (legendLabelClick)="onLegendLabelClick($event)"
        [gradient]="gradient"
        [tooltipDisabled]="tooltipDisabled"
        [tooltipText]="pieTooltipText"
        (select)="select($event)">
      </app-gauge>
    </div>
  </div>
</main>
